<!-- THE LOGIN FORM -->
<div *ngIf="!sessionService.isLoggedIn()">
  <div class="container">
    <div class="row">
      <h5>Login Here:</h5>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="form-group">
          <label for="user">Name</label>
          <input type="text" class="form-control" id="user" placeholder="Enter User" [(ngModel)]="user.name" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="user.password" />
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-8 text-right">
        <button class="btn btn-primary" (click)="login()">Login</button>&nbsp;
      </div>
    </div>
  </div>
</div>

<!-- The user is logged in  -->
<div *ngIf="sessionService.isLoggedIn()">
  <div class="container"><br>
    <div class="row">
      <h5>{{"Welcome back " + user.name}}</h5>
      <h4>You are now logged in!</h4>
    </div>
    <br>
    <div class="row">
      <a routerLink="/loggedIn">Visit my user based route...</a>
    </div>
    <div class="row">
      <div class="col-8 text-right">
        <button class="btn btn-danger" (click)="logout()">Logout</button>&nbsp;
      </div>
    </div>
  </div>
</div>

