<div *ngIf="sessionService.isLoggedIn()">
  <div class="container">
    <div class="row">
      <a routerLink="/">Home</a>
    </div>
    <div class="row">
      <h5>{{"Session: " + sessionService.getSession()}}</h5>
      <h3>{{"LoggedIn: " + sessionService.isLoggedIn()}}</h3>
    </div>
    <div class="row">
      <div class="col-8 text-right">
        <button class="btn btn-danger" (click)="logout()">Logout</button>&nbsp;
      </div>
    </div>
  </div>
</div>
